# Token da API Cloudflare
# Criar em: https://dash.cloudflare.com/profile/api-tokens
# Permissões: Zone > DNS > Edit | Zone > Zone > Read
# Escopo: apenas a zona do teu domínio
CF_DNS_API_TOKEN=

# E-mail
CF_ACME_EMAIL=
